/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Arial", sans-serif;
  text-align: center;
}

.inputdiv {
  padding: 0;
  border-width: 0;
  width: 386px;
  margin-left: auto;
  margin-right: auto;
}

input, button {
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}

input {
  width: 268px;
  text-align: left;
}

button {
  width: 100px;
}

.messagediv {
  margin: 10px 0 ;
}

.message, .messagehead {
  width: 372px;
  padding: 5px;
  border: 1px solid;
  border-radius: 2px;
  background-color: rgb(200,200,200);
  margin: 1px auto;
}

.messagehead {
  background-color: rgb(230,230,230);
}

.logdiv {
  width: 372px;
  padding: 6px;
  border: none;
  border-radius: 2px;
  margin: 1px auto;
  font-size: 10px;
  text-align: left;
}
