<!--The content below is only a placeholder and can be replaced.-->
<h1>M&amp;F Hackaton</h1>

<input [(ngModel)]="newMessage" placeholder="Input new message...">
<button (click)="onAdd(newMessage)">AddString</button><br>

<div id="model" class="messagediv">
  <div class='message' *ngFor="let message of model.syncdata">{{message}}</div>
</div>

<div id="log" class="logdiv"></div>

